body {
 background-color: rgb(240, 240, 240);
     /* background-image: url("http://www.photoshelter.com/img-get/I0000ZodouQz.Rwc/s/900/600/2131077.jpg");
     background-repeat: repeat-y;
     background-size: contain; */
}