body {
    margin: none;
  }
.marker {
    transform: translate(-50%, -100%);
  }
  
  .error {
    color: #61DAFB;
  }
  
  .marker.react-blue path {
    fill: #61DAFB;
  }
  
  .marker.yellow path {
    fill: #F3B73E;
  }
  
  .popup {
    width: 40vw;
    padding: 1rem;
  }
  
  .popup img {
    height: 200px;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  
  .post-form label,
  .post-form input,
  .post-form textarea,
  .post-form button {
    font-size: 1rem;
    margin: 0.5rem 0;
    display: block;
    width: 100%;
  }